{{define "content"}}
  <form action="/search">
    <div class="form-group">
      <label for="language"> Language : </label>
      <input type="text" class="form-control" placeholder="Go" name="language"/>
    </div>
    <div class="form-group">
      <label for="query"> Search : </label>
      <input type="text" class="form-control" placeholder="name:docker" name="query"/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
{{end}}
