{{define "content"}}
  <div id="main_form">
    <h1 class="text-center"> Get language usage statistics in the latest 100 github repositories</h1>
    <div id="search_alert" class="alert alert-danger hide" role="alert">
      Please fill in the language field.
    </div>
    <form action="/search" id="search-form">
      <div class="form-group">
        <label for="language" > Language : </label>
        <input id="search_lang" type="text" class="form-control" placeholder="Javascript" name="language" required/>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="custom_search" name="custom"> Custom search
        </label>
      </div>
      <div id="custom_search_group">
        <div class="form-group">
          <label for="query"> Search : </label>
          <input type="text" class="form-control" placeholder="user:docker" name="query"/>
        </div>
        <div class="form-group">
          <label for="max_routines"> Max Routines : </label>
          <input type="number" class="form-control" value="10" step="1" name="max_routines"/>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="no_lines"> Do not estimate lines (FASTEST)
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div id="loader" class="hide">
    <h3> Processing ... </h3>
    <img src="/assets/loading.gif" class="img-responsive center-block" id="loader"/>
    <div class="alert alert-info hide" role="alert" id="long_time_alert">
      This request is taking a long time to respond. This can be normal if the "Do not estimate lines" field is not checked. <br/>
      Try checking "Do not estimate lines" in the advanced search form for fastest responses.
    </div>
  </div>
{{end}}
