{{define "layout"}}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>GitNGo</title>
</head>
<body>
    <div id="content">
        {{template "content" .}}
    </div>
</body>
</html>
{{end}}
