{{define "content"}}
  <h3> {{title .Language}} : {{.Total}} Bytes</h3>
  <div id="piecontainer">
  </div>
  <div id="barcontainer">
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th> Repository </th>
        <th> {{title .Language}} bytes </th>
        <th> Percentage in project </th>
        <th> Link </th>
      </thead>
      <tbody>
        {{range .Repositories}}
          <tr>
            <td>
              <a target="_blank" href="{{.Repository.HTMLURL}}" data-toggle="tooltip" data-placement="top" title="{{.Repository.Description}}"> {{.Repository.FullName}}</a>
            </td>
            <td>{{.Bytes}} </td>
            <td>{{round .Percentage 2}}%</td>
            <td>
              <a target="_blank" class="btn btn-success" href="{{.Repository.HTMLURL}}" role="button">View</a>
            </td>
          </tr>
        {{end}}
      <tbody>
    </table>
  </div>
  <script>
  repositories = {{marshal .Repositories}}
  </script>
{{end}}
